@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*https://www.realtimecolors.com/?colors=0c0c12-f6f6f9-1f1f75-7272ee-0202ed&fonts=Abril%20Fatface-Urbanist*/

:root{
    --text-color: #ededf3;
    --background-color: #07070a;
    --primary-color: #8989e0;
    --secondary-color: #461698;
    --accent-color: #923de3;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.text-highlight{
    color: var(--primary-color);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Urbanist", sans-serif;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@keyframes breathing-shadow {
    0% {filter: drop-shadow(0 0 8px var(--primary-color));}
    50% {filter: drop-shadow(0 0 16px var(--primary-color));}
    100% {filter: drop-shadow(0 0 8px var(--primary-color));}
}

@keyframes opening {
    from{

    }
    to{

    }
}

.hero-section .content{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: var(--background-color);
    padding: 5rem;
    animation: breathing-shadow 5s infinite;
    animation-fill-mode: forwards;
    height: 24rem;
}

.hero-section .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(5px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;transform: translateY(-5px);

    }
}

.fadeIn{
    animation: fadeIn .5s ease-in-out forwards;
}

.fadeOut{
    animation: fadeOut .5s ease-in-out forwards;
}

@keyframes slideRight{
    from{
        transform: translateX(-10%);
    }

    to{
        transform: translateX(0);
    }
}

.hero-section h1{
    animation: fadeIn 1s ease-in-out, slideRight 1s ease-in-out;
    font-family: "Abril Fatface", cursive;
    font-size: 3rem;
}

.hero-section h1 span {
    transition: color 0.1s ease-out, filter 0.1s ease-out;
    cursor: default;
}

.hero-section h1 span:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 8px var(--accent-color));
}

@keyframes comesUp {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

.hero-section .text h2{
    animation: comesUp 1s ease-in-out, fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;
    font-size: 2rem;
}

.hero-section .text h2 a{
    transition: filter 0.2s ease-in-out;
}

.hero-section .text h2 a:hover{
    text-decoration: none;
    filter: drop-shadow(0 0 8px var(--accent-color));
}

.idea-and-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 28rem;

    animation: fadeIn 1s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.idea-and-links a{
    background-color: rgba(137, 137, 224, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: var(--text-color);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.idea-and-links a:hover{
    background-color: rgba(17, 17, 140, 0.3);
    color: var(--text-color);
    text-decoration: none;
}

.ideaText{
    text-align: center;
    font-size: 2rem;
    height: 4rem;
}

.vertical-line{
    width: 1px;
    height: 100%;
    border-right: #8989e0 solid 2px;
    filter: drop-shadow(0 0 4px var(--primary-color));
}

@media (prefers-color-scheme: light){
    :root{
        --text-color: #0c0c12;
        --background-color: #f6f6f9;
        --primary-color: #1f1f75;
        --secondary-color: #7272ee;
        --accent-color: #0202ed;
    }
}